# Electron 镜像
electron_mirror=https://npmmirror.com/mirrors/electron/
# Node.js 镜像
registry=https://registry.npmmirror.com
# 其他常用镜像
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver/
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/